<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">
<head>
	<meta charset="UTF-8" />
	<title>Accueil | Pizza</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" 
	integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
	<script src="js/index.js" defer></script>
</head>
<body>
	
	<div class="container">
	
		<div class="" id="affichagePizza">
		
			<h1 class="text-center display-1">Mon catalogue de pizza</h1>
			
			<div id="listPizza">
			
			</div>
		</div>
		
		<div class="" id="ajoutPizza"></div>
		
	</div>
	
</body>
</html>